absl-py==2.3.1
accelerate==0.31.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.17.2
altair==5.3.0
annotated-types==0.7.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1717693030552/work
appdirs==1.4.4
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1695386836194/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
asgiref==3.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1690563019058/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
audioread==3.0.1
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1702422572539/work
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
bitsandbytes==0.43.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
blinker==1.8.2
blis==1.0.1
bokeh==3.8.0
Brotli @ file:///D:/bld/brotli-split_1695989908365/work
build==1.2.1
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.3.3
catalogue==2.0.10
catboost==1.2.8
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==3.1.1
cmake==3.30.0
cmdstanpy==1.3.0
codecarbon==3.2.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
colorlog==6.10.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
confection==0.1.5
contourpy==1.3.3
cryptography==46.0.2
cssselect==1.2.0
ctransformers==0.2.27
cycler==0.12.1
cymem==2.0.8
dacite==1.9.2
dataclasses-json==0.6.7
debugpy @ file:///D:/bld/debugpy_1719378817421/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.14
deprecation==2.1.0
distro==1.9.0
dnspython==2.6.1
dynaconf==3.2.12
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
evidently==0.7.14
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
faiss-cpu==1.8.0.post1
Faker==37.11.0
fastapi==0.111.1
fastapi-cli==0.0.4
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1718477020893/work/dist
fief-client==0.20.0
filelock==3.15.4
filetype==1.2.0
flatbuffers==24.3.25
fonttools==4.60.1
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozenlist==1.4.1
fsspec==2024.6.1
fuzzywuzzy==0.18.0
gast==0.6.0
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.15
google-api-core==2.19.1
google-api-python-client==2.138.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.4
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.63.2
graphviz==0.21
greenlet==3.0.3
grpcio==1.64.1
grpcio-status==1.62.2
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py==3.14.0
holidays==0.83
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httplib2==0.22.0
httptools==0.6.1
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
huggingface-hub==0.36.0
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
ImageHash==4.3.2
imbalanced-learn==0.14.1
imblearn==0.0
importlib_metadata==7.1.0
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
InstructorEmbedding==1.0.1
intel-openmp==2021.4.0
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipython @ file:///D:/bld/ipython_1719582682925/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
iterative-telemetry==0.0.10
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.6
joblib==1.4.2
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1712986206667/work
jsonpatch==1.33
jsonpointer @ file:///D:/bld/jsonpointer_1718283500254/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1714573116818/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1710805637316/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1712707420468/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
jupyter_core @ file:///D:/bld/jupyter_core_1710257313664/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1717122053158/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1710262634903/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1719418677442/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1707149102966/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server-split_1716433953404/work
jwcrypto==1.5.6
kiwisolver==1.4.9
kubernetes==30.1.0
langchain==0.1.9
langchain-community==0.0.22
langchain-core==0.1.52
langchain-google-genai==1.0.4
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
langcodes==3.4.1
langsmith==0.1.83
language_data==1.2.0
lazy_loader==0.4
Levenshtein==0.26.0
libclang==18.1.1
librosa==0.10.1
lightgbm==4.6.0
litestar==2.18.0
litestar-htmx==0.5.0
llvmlite==0.43.0
lxml==5.2.2
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe @ file:///D:/bld/markupsafe_1706900129905/work
marshmallow==3.21.3
matplotlib==3.10.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdurl==0.1.2
minify_html==0.18.1
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1698947099619/work
mkl==2021.4.0
ml-dtypes==0.2.0
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.8
msgspec==0.19.0
multidict==6.0.5
multimethod==1.12
multipart==1.3.0
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.1.0
narwhals==2.8.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1710317608672/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1718135430380/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1712238998817/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.3
nltk==3.8.1
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1717767745914/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1707957777232/work
numba==0.60.0
numpy==1.26.4
nvidia-ml-py==13.590.44
oauthlib==3.2.2
onnxruntime==1.18.1
openai==0.28.0
openpyxl==3.1.5
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt_einsum==3.4.0
optree==0.17.0
optuna==4.6.0
orjson==3.10.6
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1706394519472/work
packaging==23.2
pandas==2.2.2
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
patsy==1.0.1
pdfminer.six==20231228
pdfplumber==0.11.4
pdfquery==0.4.3
phik==0.12.5
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.4.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
plotly==5.24.1
polyfactory==2.22.2
pooch==1.8.2
posthog==3.5.0
preshed==3.0.9
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1707932675456/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
prophet==1.2.1
proto-plus==1.24.0
protobuf==4.25.3
psutil @ file:///D:/bld/psutil_1719274759479/work
pulsar-client==3.5.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
puremagic==1.30
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.8.0
pydantic_core==2.20.0
pydeck==0.9.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pyparsing==3.1.2
PyPDF2==3.0.1
pypdfium2==4.27.0
PyPika==0.48.9
pyproject_hooks==1.1.0
pyquery==2.0.0
pyreadline3==3.4.1
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.0.1
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-Levenshtein==0.26.0
python-multipart==0.0.9
python-pptx==1.0.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyWavelets==1.9.0
pywin32==306
pywinpty @ file:///D:/bld/pywinpty_1708993020525/work/target/wheels/pywinpty-2.0.13-cp311-none-win_amd64.whl#sha256=cc7588ef737dcfaa37e717042e3cc255fed6f98a826709566e556a7285714146
PyYAML==6.0.3
pyzmq @ file:///D:/bld/pyzmq_1666828541352/work
questionary==2.1.1
RapidFuzz==3.10.0
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
regex==2024.5.15
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-oauthlib==2.0.0
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich==13.7.1
rich-click==1.9.3
roman==4.2
rpds-py @ file:///D:/bld/rpds-py_1715090114022/work
rsa==4.9
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
Send2Trash @ file:///D:/bld/send2trash_1712585174948/work
sentence-transformers==5.2.0
sentencepiece==0.2.0
shap==0.49.1
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn-compat==0.1.5
slicer==0.0.8
smart-open==7.0.5
smmap==5.0.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
soundfile==0.12.1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
soxr==0.3.7
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.4
SQLAlchemy==2.0.31
srsly==2.4.8
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
stanio==0.5.1
starlette==0.37.2
statsmodels==0.14.5
streamlit==1.31.1
streamlit-chat==0.1.1
streamlit-mic-recorder==0.0.4
sweetviz==2.3.1
sympy==1.12.1
tbb==2021.13.0
tenacity==8.4.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
terminado @ file:///D:/bld/terminado_1710262761616/work
thinc==8.3.2
threadpoolctl==3.5.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1713974937325/work
tokenizers==0.22.2
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz==0.12.1
torch==2.3.1
tornado @ file:///D:/bld/tornado_1717722835987/work
tqdm==4.66.4
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
transformers==4.57.5
typeguard==4.4.4
typer==0.12.3
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1710589910274/work
typing-inspect==0.9.0
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions==4.15.0
tzdata==2024.1
tzlocal==5.2
ujson==5.11.0
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718653059220/work
uuid6==2025.0.1
uvicorn==0.30.1
validators==0.33.0
visions==0.8.1
wasabi==1.1.3
watchdog==4.0.1
watchfiles==0.22.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
weasel==0.4.1
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1717667289718/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1713923384721/work
websockets==12.0
Werkzeug==3.1.3
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wordcloud==1.9.4
wrapt==1.14.2
xgboost==3.0.5
XlsxWriter==3.2.0
xyzservices==2025.4.0
yarl==1.9.4
yaspin==3.4.0
ydata-profiling==4.18.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work